## Question#1 Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed  in a comma-separated sequence on a single line.

In [1]:
for number in range(1500,2701):
    if number%7==0 and number%5!=0:
        print(number,end=',')

1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,

# Question#2: Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [2]:
fst_nm=input("Enter User First Name ")
snd_nm=input("Enter User Last Name ")
print("Name in the reverse order and space are ",fst_nm[::-1],snd_nm[::-1],sep=' ')

Enter User First Name Waqas
Enter User Last Name Bilal
Name in the reverse order and space are  saqaW laliB

# Question#3. Write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * Ï€ * r 3

In [3]:
from math import pi
diameter=12
r=diameter/2 ##Converting diameter into radius
V=(4/3)*(pi)*(r**3)
print(V)

904.7786842338603